.container{
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.container > div {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  font-weight: bold;
}

.container > div:first-child{
  color: var(--blue-500);
}

.container > div:last-child{
  color: var(--purple-500);
}

.container > div > p {
  font-size: 0.875rem;
}

.container > div > span{
  font-size: 0.75rem;
  padding: 2px 8px;
  background-color: var(--gray-400);
  border-radius: 16px;
  color: var(--gray-200);
}